@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: "Inter", "sans-serif";
  --font-brush: "Alex Brush", "cursive";
  --color-brand: #ee0979;
  --color-normal: #b59e7f;
}
.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.dark {
  /* پس‌زمینه اصلی برای دارک مود */
  --bg-color: #1f2937;
  --text-color: #e5e7eb;
  --card-bg: black;
  --card-border: #b59e7f;
  --button-bg: #3b82f6;
  --button-hover: #2563eb;
}

.text-normal {
  color: #b59e7f;
}

.border-normal {
  border-color: #b59e7f;
}
.gradient-bg {
  background: linear-gradient(90deg, #b59e7f, #b59e7f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

html[dir="rtl"] body {
  direction: rtl;
}
html[dir="rtl"] .ml-2 {
  margin-left: 0;
  margin-right: 0.5rem;
}
html[dir="rtl"] .ml-3 {
  margin-left: 0;
  margin-right: 0.75rem;
}
html[dir="rtl"] .mr-2 {
  margin-right: 0;
  margin-left: 0.5rem;
}
html[dir="rtl"] .mr-3 {
  margin-right: 0;
  margin-left: 0.75rem;
}

input,
textarea {
  color: inherit;
  background-color: transparent;
}
